PathStore.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="locations">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DVT">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="DropLocation" type="xs:string" />
                    <xs:element name="MppInput" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>